:root {
    --clr-main: #2B7A78;
    --clr-primary: ;
    --clr-secondary: #5befe1;
    --clr-light: #ffffff;
    --clr-dark: #000000;
    --clr-back: #efefef;
}



.header-main {
    width: 100%;
    background-color: #2B7A78;
    height: 170px;
    color: white;
    
    display: flex;
    justify-content: space-between;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #b2edff;
}

.wrapper-main {
    width: 100%;

}


a {
    cursor: pointer;

}

a:hover {
    color: #d4f4ff;
}



.logo {
    
    display: flex;
    width: fit-content;
}



.menu {
    height: 100%;
    width: fit-content;
    
}

.menu ul {
    margin-top: 30px;
    margin-left: 550px;
    

}

.menu ul li {
    display: inline;
    float: left;
}

.menu ul li a {
    padding-right: 30px;
    line-height: 140px;
    color: white;
}



.menu-main a {
    margin-left: 0;
}

.login-signup {
    margin-top: 10px;
    margin-right: 20px;
}

.login-signup i {
    margin-right: 5px;
}

.search{

    width: max-content;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 45px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    margin-top: 150px;
    margin-left: 100px;
    width: 40%;
    position: absolute;
}

 

.search:focus-within{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);

}

 

.search-input{
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    font-family: "Roboto", sans-serif;;
    outline: none;
    border: none;
    background: transparent;
}

 

.search-input::placeholder,
.search-icon{
    color:rgba(0, 0, 0, 0.5);
}



footer {
    background-color: #082b61;
    color: white;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-links {
    margin-top: 80px;
    margin-right: 100px;
    
    
}

.social-links p {
    text-align: center;
    
}

.social-links ul {
    margin-top: 20px;
    
}

.social-links ul li {
    padding-left: 20px;
    display: inline;
    cursor: pointer;
}




.social-links ul li i{
    padding-right: 10px;
}


.info {
    display: flex;
    margin-top: 55px;
}

.info ul {
    margin-top: 10px;
}

.info ul li{
    margin-top: 10px ;
    
}

.info ul li i {
    padding-right: 10px;
}

.customerservice-links {
    margin-top: 50px;
    margin-right: 100px;
}

.customerservice-links ul {
    margin-top: 10px;
}

.customerservice-links ul li {
    margin-top: 10px;
}

.footer-bottom {
	background:#000;
	width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom p {
    margin-top: 25px;
    margin-left: 100px;
    font-size: 15px;
}

.footer-bottom img[src="./Images/master card.png"] {
    margin-bottom: 8px;
}

.payment-icons {
    margin-right: 30px;
    margin-top: 10px;

}

/* Image Slider */

.slider {
    width: 100%;
    overflow: hidden;
}

.images {
    width: 100%;
    display: inline-block;
    transition: transform 0.5s ease;
}